certifi
selenium
pandas
python-dotenv
chromedriver-autoinstaller
geckodriver-autoinstaller
urllib3
pyperclip
speedtest
pyautogui
socket
time
bs4
requests
json 
csv
snscrape
snscrape.modules.twitter
pandas